# {{ ansible_managed }}

{% if iproute_rt_protos|length > 0 %}
{%   for key, value in iproute_rt_protos.iteritems()|sort %}
{% raw %}{{ '{{' key '}}' }}{% endraw %}	{{ value }}
{%   endfor %}
{% endif %}
